:root {
    /* colours */
    --color-text: white;
    --color-primary: DodgerBlue;
    --color-secondary: blue;
    --color-dark: #091f3d;
    --color-bg: #031329;

    /* fonts variables */
    --font-judson: "Judson"; 
}